<relstorage>
    <postgresql>
      # The dsn is optional, as are each of the parameters in the dsn.
      dsn dbname='PG_DB' user='PG_USER' host='PG_HOST' password='PG_PASS'
    </postgresql>
</relstorage>
